body
{
    padding: 100px;
}
.submit-area
{
    margin-top: 50px;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 2px 2px 20px lightgray;
}
#transaction-area
{
    display: none;
}
.deposit
{
    background-color: slateblue;
}
.withdraw
{
    background-color: salmon;
}
.balance
{
    background-color: orange;
}
.status
{
    color: white;
    border-radius: 10px;
    padding: 50px 20px;
    margin: 0px 20px;
}